set timeout=10
set default=0

menuentry "HelixOS 1.0 (Surge) Live" {
  linux /live/vmlinuz boot=live config username=helix quiet splash
  initrd /live/initrd.img
}

menuentry "HelixOS 1.0 (Surge) Live (failsafe)" {
  linux /live/vmlinuz boot=live config username=helix memtest noapic noapm nodma nomce nolapic nomodeset nosmp nosplash vga=normal
  initrd /live/initrd.img
}

menuentry "rEFInd boot manager (finds Windows + HelixOS)" {
  chainloader /EFI/refind/refind_x64.efi
}
